<div class="member-card" (click)="onCardClick()">
  <div class="member-info">
    <div class="member-avatar">
      <img [src]="member.imageUrl" alt="Member Picture">
    </div>
    <div class="member-details">
      <h4 class="member-name">{{ member.firstName }} {{ member.lastName }}</h4>
      <p class="member-role">{{ member.userRole }}</p>
    </div>
  </div>
  <div class="member-stats">
    <div class="param-row">
      <span data-label="Param:"><strong>23</strong></span>
      <span data-label="Param:"><strong>23</strong></span>
      <span data-label="Param:"><strong>24</strong></span>
    </div>
    <div class="risk-section">
      <span class="risk-label">Risk:</span>
      <div class="risk-bar-container">
<!--        <div class="risk-bar-fill" [ngClass]="getRiskColor(member.riskScore)" [style.width]="(member.riskScore * 100) + '%'"></div>-->
        <div class="risk-bar-fill" [ngClass]="getRiskColor(20)" [style.width]="(20 * 100) + '%'"></div>
      </div>
    </div>
  </div>
</div>
