<div class="employee-container">
  <div class="employee-header">
    <div class="employee-avatar">
      <img [src]="getFullImageUrl(member.profilePic, 'user')" alt="Member Picture">
    </div>
    <div class="employee-info">
      <h2 class="employee-name">{{ member.firstName }} {{ member.lastName }}</h2>
      <p class="employee-role">{{ member.userRole }}</p>
    </div>
  </div>

  <div class="employee-stats">
    <div class="param-row">
      <div class="param">
        <span class="param-label">Sleep:</span>
        <strong class="param-value">{{ getRoundedSleepHours() }} h</strong>
      </div>
      <div class="param">
        <span class="param-label">Stress:</span>
        <strong class="param-value">{{ member.weeklyReport?.avgStressLevel ?? '-' }}</strong>
      </div>
      <div class="param">
        <span class="param-label">Worktime:</span>
        <strong class="param-value">{{ getRoundedWorkHours() }} h</strong>
      </div>
    </div>

    <div class="risk-section" *ngIf="member.weeklyReport?.riskLevel as level">
      <span class="risk-label">Burnout risk:</span>
      <div class="risk-bar-container">
        <div class="risk-bar-fill"
             [ngClass]="getRiskColorFromLevel(level)"
             [style.width]="getRiskWidthFromLevel(level)">
        </div>
      </div>
      <span class="risk-text">{{ level }}</span>
    </div>

  </div>
</div>
