:host {
  display: block;
  padding: 2rem;
}

.main-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0px 12px #999999;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sidebar-area {
  width: 536px;
}
