:host {
  display: block;
  padding: 2rem;
}

.profile-container {
  display: flex;
  gap: 2rem;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0px 12px #999999;
}

.profile-main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.daily-report-area {
  width: 536px;
  //min-width: 300px;
}

.profile-header-container{
  margin-bottom: 2rem;
}

app-tabs {
  z-index: 1;
}

.profile-cards-holder{
  //border: solid purple;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 0 20px 20px;

}

.stats-cards {
  display: grid;

  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(2, 1fr);

  gap: 12px;
  margin-left: 18px;

  overflow-y: auto;
  padding-right: 1rem;
}
