<div class="profile-container">
  <div class="profile-main-area">
    <div class="profile-header-container" (click)="openEditPopup()">
      <app-profile-header [user]="user"></app-profile-header>
    </div>

    <app-tabs [tabs]="tabs" (tabChange)="activeTab = $event"></app-tabs>

    <div class="profile-cards-holder">
      <ng-container *ngIf="activeTab === 'My Reports'">
        <div class="search-section">
          <app-input placeholder="Search..."></app-input>
          <app-button message="Search"></app-button>
        </div>
        <div class="stats-cards">
          <app-stat-card
            *ngFor="let card of statCards"
            [label]="card.label"
            [value]="card.value"
            [period]="card.period"
            [risk]="card.risk">
          </app-stat-card>
        </div>
      </ng-container>

      <ng-container *ngIf="activeTab === 'View History'">
        <p>This is the View History section.</p> </ng-container>

      <ng-container *ngIf="activeTab === 'Recommendations'">
        <p>This is the Recommendations section.</p> </ng-container>


    </div>

  </div>

  <div class="daily-report-area">
    <app-daily-report-form (formSubmit)="onDailyReportSubmit($event)"></app-daily-report-form>
  </div>
</div>

<app-edit-profile [user]="user" *ngIf="showEditPopup" (close)="closeEditPopup()"></app-edit-profile>

