.stat-card {
  padding: 1.5rem;
  margin: 24px 14px 2rem;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 2rem;
  font-weight: bold;
}

.value-circle-container {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.value-text {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  z-index: 2;
  color: black;
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(transparent 0deg, #e0e0e0 0deg);
  -webkit-mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);
  mask: radial-gradient(farthest-side, transparent calc(100% - 5px), #000 0);
}

.period {
  font-size: 0.9rem;
  color: #888;
  margin-top: 1rem;
}

.risk-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.risk-label {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.5rem;
}

.risk-bar-container {
  width: 80%;
  height: 8px;
  background-color: #eee;
  border-radius: 4px;
}

.risk-bar {
  height: 100%;
  border-radius: 4px;

  &.green {
    background-color: var(--color-risk-green);
  }

  &.orange {
    background-color: var(--color-risk-orange);
  }

  &.red {
    background-color: var(--color-risk-red);
  }
}
