<app-two-column-layout>
  <div content-section>
    <div class="teams-main-content">
      <div class="team-header-container">
        <app-entity-header
          [label]="'Team:'"
          [title]="team?.name ?? 'Nema naziva tima'"
          [imageUrl]="fullTeamImageUrl"
        >
        </app-entity-header>
      </div>

      <app-tabs [tabs]="tabs" (tabChange)="onTabChange($event)"></app-tabs>

      <div class="team-cards-holder" *ngIf="activeTab === 'Employee'">
<!--        <app-search-bar></app-search-bar>-->

        <app-team-member-card *ngFor="let member of teamMembers"
                              [member]="member"
                              (memberSelected)="onMemberSelected(member)"
        >
        </app-team-member-card>
      </div>
    </div>
  </div>

  <div sidebar-section *ngIf="activeTab === 'Employee'">
    <div class="sidebar-content">
      <app-employee-details [member]="selectedEmployee" *ngIf="selectedEmployee"></app-employee-details>
    </div>
  </div>
</app-two-column-layout>
