<div class="daily-report-form-container">
  <p>Daily Report</p>
  <p class="date">{{ currentDate }}</p>

  <form [formGroup]="dailyReportForm" (ngSubmit)="onSubmit()">

    <div *ngFor="let factor of dailyFactors; let i = index" class="form-group">
      <app-input
        [type]="factor.type"
        [placeholder]="factor.placeholder"
        [formControlName]="factor.name">
      </app-input>
    </div>

    <app-button message="Submit"></app-button>
  </form>

  <p class="relax-text">{{ currentTip }}</p>
</div>
