<div class="daily-report-form-container">
  <p>Daily Report</p>
  <p class="date">{{ currentDate }}</p>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <app-input type="number" placeholder="Working hours"></app-input>
    </div>
    <div class="form-group">
      <app-input type="number" placeholder="Overtime hours"></app-input>
    </div>
    <div class="form-group">
      <app-input type="text" placeholder="Stress level"></app-input>
    </div>
    <div class="form-group">
      <app-input type="text" placeholder="Sleep quality"></app-input>
    </div>
    <div class="form-group">
      <app-input type="text" placeholder="Physical activity"></app-input>
    </div>
    <div class="form-group">
      <app-input type="text" placeholder="Symptoms"></app-input>
    </div>
    <app-button message="Submit"></app-button>
  </form>
  <p class="relax-text">Take 5 minutes to breathe and relax</p>
</div>
