.teams-grid-container {
  display: grid;
  // Prilagodljiva mreža: najmanje 250px, najviše 1fr
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  padding: 1rem;
}

.sidebar-content {
  width: 100%;
  padding: 1rem;
}
